<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	
	<error-page>
	   	<error-code>404</error-code>
	  	<location>/error.jsp</location>
	</error-page> 
	 
   <servlet>
  	<display-name>Logout</display-name>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>com.basic.controller.Logout</servlet-class>
  </servlet>
    <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
	
 <filter>
 	<description>
 	</description>
 	<display-name>Authenticate</display-name>
 	<filter-name>Authenticate</filter-name>
 	<filter-class>com.basic.filters.AuthenticateUserLogin</filter-class>
 </filter>
 <filter-mapping>
 	<filter-name>Authenticate</filter-name>
 	<url-pattern>/operation</url-pattern>
 </filter-mapping>
 
 <filter>
 	<description>
 	</description>
 	<display-name>noCache</display-name>
 	<filter-name>noCache</filter-name>
 	<filter-class>com.basic.filters.NoCacheFilter</filter-class>
 </filter>
 <filter-mapping> 
      <filter-name>noCache</filter-name> 
      <url-pattern>/*</url-pattern> 
  </filter-mapping> 	
	
 
  <servlet>
  	<description>
  	</description>
  	<display-name>ControllerRegister</display-name>
  	<servlet-name>ControllerRegister</servlet-name>
  	<servlet-class>com.basic.controller.ControllerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerRegister</servlet-name>
  	<url-pattern>/save</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>
  	</description>
  	<display-name>ControlLogin</display-name>
  	<servlet-name>ControlLogin</servlet-name>
  	<servlet-class>com.basic.controller.ControllerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControlLogin</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<display-name>Useroperate</display-name>
  	<servlet-name>Useroperate</servlet-name>
  	<servlet-class>com.basic.controller.ControllerUser</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Useroperate</servlet-name>
  	<url-pattern>/operation</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>
  	</description>
  	<display-name>GetAddress</display-name>
  	<servlet-name>GetAddress</servlet-name>
  	<servlet-class>com.basic.controller.ControllerAddress</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAddress</servlet-name>
  	<url-pattern>/useraddress</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description>
  	</description>
  	<display-name>GetFile</display-name>
  	<servlet-name>GetFile</servlet-name>
  	<servlet-class>com.basic.controller.ControllerFile</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetFile</servlet-name>
  	<url-pattern>/userfile</url-pattern>
  </servlet-mapping>
  
   <servlet>
   	<description>
   	</description>
   	<display-name>Forgot</display-name>
   	<servlet-name>Forgot</servlet-name>
   	<servlet-class>com.basic.controller.Forgot</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>Forgot</servlet-name>
  	<url-pattern>/forgot</url-pattern>
  </servlet-mapping>
 
   <servlet-mapping>
 	<servlet-name>GETSALL</servlet-name>
 	<url-pattern>/get</url-pattern>
 </servlet-mapping>
  
 <servlet>
 	<servlet-name>GETSALL</servlet-name>
 	<servlet-class>com.basic.controller.ControllerRegister</servlet-class>
 </servlet>
 <servlet>
 	<description>
 	</description>
 	<display-name>Test</display-name>
 	<servlet-name>Test</servlet-name>
 	<servlet-class>com.basic.controller.Test</servlet-class>
 </servlet>
  <servlet-mapping>
   	<servlet-name>Test</servlet-name>
   	<url-pattern>/test</url-pattern>
   </servlet-mapping>
</web-app>
